#track-table {
	height: 260px;
	width: 100%;
	margin: auto;
	overflow: auto;
    text-overflow: ellipsis;
    content: "";
    position:relative;
}

.video-scroller {
	overflow-y: auto;
	height: 600px;
}

.play {
	background-image: url('../images/play.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin-right: 20px;
	float: left;
	height: 30px;
	width: 30px;
}

.video-container {
	margin-top: 5%;

}

.a-video {
	margin-bottom: 4em;

}

iframe {
	width: 300px;
	height: 200px;
}

.table-top-shadow {
    position:relative;
}



.table-top-shadow:after {
    content:'';
    width: 100%;
    height: 10%;
    position:absolute;
    left:0;
    top:0;
    background:linear-gradient(#1E1C25 0%, transparent 100%);
}

.table-bottom-shadow {
    position:relative;
}

.table-bottom-shadow:after {
    content:'';
    width: 100%;
    height: 20%;
    position:absolute;
    left:0;
    bottom:0;
    background:linear-gradient(transparent 0%, #1E1C25 100%);
}

.videos {
    padding-top: 60px;
}


.track-title {
	opacity: 0.5;
}


.track-table-container {
	height: 500px;
	width: 400px;
	margin-top: 5%;
	float: right;
	border-style: solid;
	border-width: 1px;
    overflow:  auto;
	border-color: rgba(141, 173, 171, 0);



    z-index: 1000;
    position: fixed;
    right: 200px;
	width: 0;
    margin-right: -250px;
    overflow-y: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

}

.track-item {
	width: 80%;
	margin-top: 5%;
	text-align: left;
}

.track-item-spacer {
    width: 80%;
	margin-top: 5%;
	text-align: left;
    height: 30px;
}

.track-item a {
	opacity: 0.5;
}

.track-item a:active,
.track-item a:focus {

    text-decoration: none;
}

.track-item a:hover {
	opacity: 0.9;
    text-decoration: none;
}


.sc-powered-link {
    position: absolute;
    opacity: 0.5;
    right: 20px;
    bottom: 0px;
}

.item-link {
    height: 42px;
    opacity: 0.5;
    display: table-cell;
    padding-left: 5px;
    padding-right: 5px;
}

body {
  /* Margin bottom by footer height */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
	padding-right: 15px;
padding-left: 15px;
  overflow-x: auto;
  display: table;
  -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.footer-row {
    position: relative;
}

.item-link a, .item-link img{
    height: 100%;
}

@media(min-width:1000px) {

		iframe {
			width: 500px;
			height: 250px;
		}
	
	.track-table-container {
    	width: 250px;
	}

	.video-scroller {
		height: 600px;
	}

}
