
#spiral:hover {

}

.loading {

}

.svg-wave {
  fill: #0c2540;
  stroke-width: 1;
  stroke: #e8551a;
}

.playback-head {
    fill: #ec4e17;
}

.spiral-player {
  margin: auto;
	position: relative;
  top: 50%;
}

.svg-object {
  margin: auto;
}

.pausebutton, .playbutton {
  fill: #ec4e17;
	cursor: pointer;
}

@-webkit-keyframes blink {
	0% {fill: rgba(245, 245, 245, 1);}
    50% {fill: rgba(245, 245, 245, 0);}
}

.playsymbol {
    animation: blink 2s step-end infinite;
    -webkit-animation: blink 2s step-end infinite;
}

.pausesymbol, .playsymbol {
    fill: #ec4e17;
    transition: all 0.2s ease;
}

.playbutton .playsymbol, .loading .playsymbol, .loading .pausebutton:hover .playsymbol  {
    animation: none;
    -webkit-animation: none;
    display: none;
}

.loading .pausebutton {
     cursor: wait;
}

.pausebutton:hover .pausesymbol, .playbutton:hover .playsymbol {
    fill: rgba(245, 245, 245, 0);
    transition: all 0.2s ease;
    animation: none;
    -webkit-animation: none;

}

.pausebutton:hover .playsymbol, .playbutton:hover .pausesymbol {
    fill: rgba(245, 245, 245, 1);
    transition: all 0.2s ease;
    animation: none;
    -webkit-animation: none;
}
